@import url("https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker");

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  Font-Family: 'Permanent Marker',
  Cursive;
}

p {
  Font-Size: 55px;
  background-color: rgba(216, 118, 89, 0.7);
  margin-left: 3%;
  margin-right: 3%;
}

.container {
  display: flex;
}