@import url("https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker");

.App {
  height: 100vh;
  text-align: center;
  Font-Family: 'Permanent Marker',
  Cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  Font-Size: 55px;
  background-color: rgba(216, 118, 89, 0.7);
  margin-left: 3%;
  margin-right: 3%;
}