.aside-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  height: 70%;
  margin-left: 3%;
  background: rgba(140, 98, 114, 0.7);
}

.home,
.saved-quotes {
  height: 50px;
  width: 100px;
  border: none;
  background-color: #625674;
  margin-top: 20%;
  margin-bottom: 20%;
  border-radius: 50%;
}
h2 {
  margin-top: 10%;
  Font-Size: 30px;
}
 
h3 {
  Font-Size: 25px;
}