.quote-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left: 3%;
  border-radius: 8%;
  background-color: rgba(140, 141, 134, 0.7);
}

h4 {
  Font-Size: 20px;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

h5 {
  Font-Size: 30px;
  margin: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

.save-quote {
    height: 75px;
    width: 150px;
    border: none;
    background-color: #625674;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 50%;
    Font-Family: 'Overpass',
    Sans-Serif;
    Font-Size: 17px;
}
